
@using CRMWebApp.Models;


@{
    ViewBag.Title = "Details";
}
<a href="/home/index">Home</a> | <a href="/home/Aboutus">About us </a>| <a href="/home/contact">Contact us</a>| <a href="/employees/index">Employees </a>|<a href="/customers/index">Customers</a>

<h2> Employee Details</h2>

<p> Employee ID: @Model.ID</p>
<p> Employee Full Name: @Model.FirstName  @Model.LastName</p>
<p> Location: @Model.Location</p>
<p> Email: @Model.Email</p>
<p> Department: @Model.Department</p>
<p> contact Number:@Model.ContactNumber</p>


<a href="/employees/update/@Model.ID">Update</a> | <a href="/employees/delete/@Model.ID">Delete</a>
